[submodule "CoffeeScript"]
	path = CoffeeScript
	url = https://github.com/jashkenas/coffee-script-tmbundle
[submodule "SCSS"]
	path = SCSS
	url = https://github.com/kuroir/SCSS.tmbundle.git
[submodule "SASS"]
	path = SASS
	url = https://github.com/n00ge/sublime-text-haml-sass.git
[submodule "Django"]
	path = Django
	url = https://github.com/fxdgear/sublime-text-django-snippets
